# igmp-querierd - IGMP querier for networks without a multicast router 

[Unit]
Description=IGMP Querier daemon
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/python3 -u -m igmpquerier.service -i %i --interval 60
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target